body{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    

}
.header{
    background-color:#bbbbbb;
    display: flex;
    justify-content: space-between;
    padding: 0 10% 0 10%;
    align-items: center;
    
    
    
}
nav ul li{
    display: inline;
    margin:0 0 0 15px;
}
nav ul li a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
nav a:hover{
    color:#c78c19;
    text-decoration: underline;
}

.cards{
    display:flex;
    justify-content:space-evenly;
    margin: 4rem 0;
    
}

.cards h2{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}


.agrandar{
    padding: 3rem 0 3rem 0;
    text-align: center;
    border:2px solid black;
    border-radius: 30px;
    width: 330px;  
    transition: 2s all
}
.agrandar:hover{
    border-color: #c78c19 ;
}
.agrandar:hover{
    transform: scale(1.1);;
}


.agrandar:active{
    border-color: #088c19;
}


.descripcion{
    font-size: 1.2rem;
    text-align: center;
    padding: 0 2rem;
}

.precio{
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
    padding-top: 1rem;
}

footer{
    text-align: center;
    background-image: url(img/bg.jpg) ;
    padding:40px;
}

.footercopy{
    color:#ffffff;
    font-size: 0.7rem;
    margin: 20px;
}

main form{
    width: 940px;
    margin: 0 auto;
    margin: 40px 100px;
    
}
form{
    margin: 40px 0;
}

form label, form legend{
    display: block;
    font-size: 1.3rem;
    margin: 0 0 10px
}
.input-principal{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px ;
    width: 50%;
}
.checkbox{
    margin:20px 0;
}

.enviar{
    width: 40%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color:white;
    background-color: orange;
    border: none;
    border-radius: 5px;
    transition: 2s all;
    cursor: pointer;

}
.enviar:hover{
    background-color: darkorange;
    transform: scale(1.2);

}

table{
    margin: 40px 200px;
}
thead{
    background: #555555;
    color:white;
    font-weight: bold;
    
}
td,th{
    border: 1px solid black;
    padding: 8px 15px;
}
/* CSS para home*/
.banner{
    width: 100%;
}
.principal{
    background-color: #fefefe;
    padding: 3em;
}

.titulo-principal{
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
}

.principal p{
    margin: 0 0 1em;
}
.principal strong{
    font-weight: bold;
}
.principal em{
    font-style:italic ;
}
.utensillos{
    width: 120px;
    float: left;
    margin:  0 20px 20px 0;
    
}
.imagen-diferenciales{
    width: 60%;
    margin: 0 auto;
    transition:400ms ;
    box-shadow: 10px 10px 30px 20px #000000;

}
.imagen-diferenciales:hover{
    opacity: 0.3;
}
.mapa{
    padding: 3em 0 ;
    background: linear-gradient(#ffffff,#888888);
}
.mapa p{
    margin: 0 0 2em;
    text-align: center;

}
.mapa-contenido{
    width: 65%;
    margin: 0 auto;
}
.diferenciales{
    background-color: #888888;
    width: 100%;
}
.contenido-diferenciales{
    width: 640px;
    margin: 0 auto;
    
}

.lista-diferenciales{
    width: 40%;
    display: inline-block; 
    vertical-align:top ; 

}
.items{
    line-height: 1.5;
}
.items:first-child{
    font-weight: bold;
}
.items:before{
    content: "★";
}
.video{
    width: 560px;
    margin: 1em auto;
}
@media screen and (max-width:480px){
    h1{
        text-align: center;
    }
   .header{
    display: block;
   }
   nav{
    width: 100%;
   }
    .mapa-contenido, .contenido-diferenciales, .video{
        width: auto;
    }
    .lista-diferenciales, .imagen-diferenciales{
        width: 100%;

    }
}



